.env
__pycache__/
*.pyc
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/processed/chunks/*
!data/processed/chunks/.gitkeep
.DS_Store
*.egg-info/
dist/
build/
.venv/                   
venv/                     
*.log                     
.streamlit/               
*.sqlite3                 
.pytest_cache/            
.vscode/ 
